@using MusicLove.Enum
@model BlogCreateViewModel

@{
    ViewData["Title"] = "Create Blog";
}

<form asp-controller = "Blog" enctype = "multipart/form-data">
    <div class = "border p-3 mt-4">

        <div class = "mb-3 row p-1">
            <label asp-for = "Title" class = "p-0"></label>
            <input asp-for = "Title" class = "form-control blockInputEnter"/>
            <span asp-validation-for = "Title" class = "text-danger"></span>
        </div>
        
        <div class = "mb-3 row p-1">
            <label class = "p-0">Media</label>
            <div class="container">
               @foreach (UploadType value in Enum.GetValues(typeof(UploadType)))
                {   
                    var id = $"{Char.ToLower(value.ToString()[0])}{value.ToString().Substring(1)}Radio";
                    bool isChecked = Model == null ? value == UploadType.None : value == Model.UploadType;
                    <label class="form-check-label radio-inline" for="@id">
                        <input class="form-check-input" type="radio" name = "uploadType" asp-for = "UploadType" value ="@value" id="@id" checked="@isChecked" onchange="setMediaSelection()">
                        @value
                    </label>
                }
            </div>

            <input id="imageInput" type = "file" asp-for = "Files" accept="image/*" multiple class = "form-control" style="display: none;" onchange="displayImage()"/>
            <img id="imagePreview" style="display:none; width: 300px; height: auto; margin-top: 15px" onerror="this.src = '@Define.Azure.DEFAULT_IMAGE';"/>

            <input id="youTubeInput" type="text" asp-for = "Link" class="form-control blockInputEnter"  style="display: none;" oninput="displayYouTube()"/>
            <img id="youTubePreview" style="display:none; width: 300px; height: auto; margin-top: 15px" onerror="this.src = '@Define.Azure.DEFAULT_IMAGE';" />
        
        </div>

        <div class = "mb-3 row p-1">
            <label asp-for = "Description" class = "p-0"></label>
            <textarea asp-for = "Description" class = "form-control"></textarea>
            <span asp-validation-for = "Description" class = "text-danger"></span>
        </div>

        <button type = "submit" asp-action = "Upload" method = "post" class = "btn btn-primary">
            +
        </button>
    </div>
</form>

@section Scripts {
    <script>
        tinymce.init({
            selector: 'textarea',
            menubar: false,     
            plugins: 'lists emoticons charmap',
            toolbar: 'undo redo | fontsize | forecolor backcolor | bold italic underline strikethrough | numlist bullist indent outdent | emoticons charmap',
        });

        setMediaSelection();

        function displayImage() {
            var imageInput = document.getElementById("imageInput");
            var imagePreview = document.getElementById("imagePreview");

            if (imageInput.files && imageInput.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    imagePreview.src = e.target.result;
                    imagePreview.style.display = "block";
                };

                reader.readAsDataURL(imageInput.files[0]);
            }
        }

        function displayYouTube() {
                var youTubeUrl = document.getElementById('youTubeInput').value;
                var youTubePreview = document.getElementById("youTubePreview");
                var youTubeId = getYouTubeId(youTubeUrl);
                var thumbnailUrl = "https://img.youTube.com/vi/" + youTubeId + "/sddefault.jpg";
                youTubePreview.src = thumbnailUrl;
                youTubePreview.style.display = "block";
        }

        function getYouTubeId(youTubeUrl) {
            var regex = /(?:https?:\/\/)?(?:www\.)?(?:youtube\.com\/(?:[^\/\n\s]+\/\S+\/|(?:v|e(?:mbed)?)\/|\S*?[?&]v=)|youtu\.be\/)([a-zA-Z0-9_-]{11})/;
            var match = youTubeUrl.match(regex);
            if (match && match[1]) {
                return match[1];
            } else {
                return null;
            }
        }

        function setMediaSelection() {
            var imageRadio = document.getElementById("imageRadio");
            var imageInput = document.getElementById("imageInput");
            var imagePreview = document.getElementById("imagePreview");
            
            var youTubeRadio = document.getElementById("youTubeRadio");
            var youTubeInput = document.getElementById("youTubeInput");
            var youTubePreview = document.getElementById("youTubePreview");

            imageInput.style.display = imageRadio.checked ? "block" : "none";
            imagePreview.style.display = imageRadio.checked ? "block" : "none";

            youTubeInput.style.display = youTubeRadio.checked ? "flex" : "none";
            youTubePreview.style.display = youTubeRadio.checked ? "block" : "none";
        }

        // Disable enter submit
        var inputFields = document.getElementsByClassName("blockInputEnter");
        for (var i = 0; i < inputFields.length; i++) {
            inputFields[i].addEventListener("keydown", function(event) {
                if (event.key === "Enter") {
                    event.preventDefault();
                }
            });
        }

    </script>
}