@model Blog

@{
    ViewData["Title"] = @Model.Title;
}
<h1>@Model.Title</h1>

<p>
    @Model.Author • @Model.DateTime.ToString("yyyy-MM-dd")
</p>

<hr style="margin: 5px 0px 50px 0px;">

<div class="row">
    <div class="col-md-8 mb-4 mb-md-0">
        <div class="text-center">
            <img   
                src= @Model.Image
                style="object-fit: cover;"
                class="shadow-1-strong rounded blog-image" 
                onerror="this.src = '@Define.Azure.DEFAULT_IMAGE'"
            >
        </div>
    </div>

    <div class="col-md-4 mb-4 mb-md-0">
        <span class="border">
            @Html.Raw(@Model.Description)
        </span>
    </div>
</div>

@if(User.Identity.IsAuthenticated)
{
    <form asp-controller = "Blog" enctype = "multipart/form-data">
        <div class="d-flex justify-content-center mt-4">
            <button asp-controller="Blog" asp-action="Post" asp-route-id="@Model.Id" style="margin-right:10px;">
                Edit
            </button>

            <button id="deleteConfirmButton" onclick="deleteConfirm('@Model.Id')">
                Delete
            </button>
        </div>
    </form>
}

<script>
    // Prevent clicking confirm button from automatically refreshing page
    document.getElementById("deleteConfirmButton").addEventListener("click", function(event) {
        event.preventDefault();
    });

    function deleteConfirm(id) {
        var result = window.confirm("Are you sure you want to delete this post?");
        if (result) {
            fetch(`/Blog/Delete/${id}`, {
                method: 'DELETE'
            })
            .then(response => {
                window.location.href = '/Blog';
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    }
</script>
